.Rproj.user
.Rhistory
*.Rproj
Data/Downloaded Data/*
Data/Extracted (Project) Data/*
Data/Original Data/ManyLabs3/*
Data/Original Data/ManyLabs5/*
Data/Original Data/RRR5/*
Data/Original Data/RRR10/*
Data/Reliability Estimates/*
Data/Shiny Data/*
Data/Variance Estimates/*
!Data/Downloaded Data/.gitkeep
!Data/Extracted (Project) Data/.gitkeep
!Data/Original Data/.gitkeep
!Data/Reliability Estimates/.gitkeep
!Data/Shiny Data/.gitkeep
!Data/Variance Estimates/.gitkeep
!Data/Original Data/ManyLabs3/.gitkeep
!Data/Original Data/ManyLabs5/Shnabel/.gitkeep
!Data/Original Data/RRR5/.gitkeep
!Data/Original Data/RRR10/.gitkeep
Simulation Data/Data/*
Simulation Data/Simulation_sub_files/*
Simulation Data/Sim_80000_conditions.RData
Simulation Data/Sim_80000_conditions_rmaBonett.RData
Simulation Data/Sim80000_rma.csv
Simulation Data/Sim80000_rma.RData
Simulation Data/Sim80000_rma_df.csv
!Simulation Data/Data/.gitkeep
!Simulation Data/Simulation_sub_files/.gitkeep
Graphics/*
!Graphics/.gitkeep
